/** === Import */

/** === Root */
:root {
    --clr-white: #fff;
    --clr-black: #000;

}

/** = ===== ====  Css Style General  ======= ======== =*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 2rem auto;
}

p,
span {
    letter-spacing: 0.1rem;
}

body {
    width: 100%;
    background-color: #fff;
}

main {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.mokeponList {
    width: 100%;
    margin: 0 auto;
}

.btnMokepon {
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 1rem;
    background-color: #fff;
}

.btnMokepon:hover {
    background-color: #f3f3f3;
}

.btnMokepon:active {
    transform: scale(0.9);
}

.textMokepon {
    color: var(--clr-black);
    font-size: 1.4rem;
    font-weight: 700;
}